@font-face {
    font-family: 'Bookk Myungjo';
    src: url('BookkMyungjo-Bd.eot');
    src: url('BookkMyungjo-Bd.eot?#iefix') format('embedded-opentype'),
        url('BookkMyungjo-Bd.woff2') format('woff2'),
        url('BookkMyungjo-Bd.woff') format('woff'),
        url('BookkMyungjo-Bd.ttf') format('truetype'),
        url('BookkMyungjo-Bd.svg#BookkMyungjo-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookk Myungjo';
    src: url('BookkMyungjo-Lt.eot');
    src: url('BookkMyungjo-Lt.eot?#iefix') format('embedded-opentype'),
        url('BookkMyungjo-Lt.woff2') format('woff2'),
        url('BookkMyungjo-Lt.woff') format('woff'),
        url('BookkMyungjo-Lt.ttf') format('truetype'),
        url('BookkMyungjo-Lt.svg#BookkMyungjo-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* .your-style {
    font-family: 'Bookk Myungjo';
    font-weight: 300;
    font-style: normal;
}
.your-style {
    font-family: 'Bookk Myungjo';
    font-weight: bold;
    font-style: normal;
} */