@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "KOTRA_GOTHIC";
  width: 100%;
  height: auto;
  background-color: #FCF9EE;
}

/* header */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

.rolling_ex {
  width: 100%;
  height: 40px;
  background-color: #222222;
  /* .rolling */
}
.rolling_ex .rolling {
  width: 100%;
  height: 40px;
  background-color: #222222;
  color: #fff;
  overflow: hidden;
  display: flex;
  position: relative;
  /* .list */
}
.rolling_ex .rolling .list {
  line-height: 40px;
  display: flex;
  /* li */
}
.rolling_ex .rolling .list li {
  font-size: 14px;
  padding-right: 20px;
  width: 1000px;
}
.rolling_ex .rolling p {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 900;
  cursor: pointer;
  z-index: 1;
}

/* rolling_ex */
@keyframes flowRolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* 상단 flowrolling */
.header_ex {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  /* header */
}
.header_ex .header {
  width: 1300px;
  height: 80px;
  margin: 0 auto;
  /* logo */
  /* gnb */
}
.header_ex .header .logo {
  float: left;
  margin-left: 45px;
  font-family: "Bookk Myungjo";
  color: #222;
  margin-top: 10px;
}
.header_ex .header .logo :first-child {
  font-size: 30px;
}
.header_ex .header .logo :last-child {
  font-size: 12px;
  text-align: center;
}
.header_ex .header .menu {
  float: left;
  margin-left: 45px;
  font-family: "Bookk Myungjo";
  color: #222;
  font-size: 20px;
}
.header_ex .header .menu .main_menu .item {
  float: left;
  margin-top: 38px;
  margin-right: 80px;
}
.header_ex .header .menu .main_menu .item .item__contents {
  width: 100%;
  position: absolute;
  margin-top: 16px;
  display: none;
  z-index: 999;
  background-color: #FCF9EE;
  left: 0;
}
.header_ex .header .menu .main_menu .item .item__contents .contents__menu {
  background-color: #FCF9EE;
  width: 800px;
  height: 50px;
  color: #222222;
  position: relative;
  margin: 0 auto;
}
.header_ex .header .menu .main_menu .item .item__contents .contents__menu .inner {
  display: flex;
  width: 100%;
}
.header_ex .header .menu .main_menu .item .item__contents .contents__menu .inner li {
  float: left;
  margin-right: 30px;
  font-size: 14px;
  line-height: 50px;
}
.header_ex .header .menu .main_menu .item .item__contents .submenu01 {
  padding-left: 32px;
}
.header_ex .header .menu .main_menu .item .item__contents .submenu02 {
  padding-left: 265px;
}
.header_ex .header .menu .main_menu .item .submenu03 {
  padding-left: 260px;
}
.header_ex .header .menu .main_menu .item .submenu04 {
  padding-left: 375px;
}
.header_ex .header .main_menu .item:hover .item__name {
  color: #222222;
  border-radius: 6px 6px 0 0;
  display: inline-block;
  position: relative;
}
.header_ex .header .main_menu .item .item__name::after {
  content: "";
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 1px;
  border-bottom: 1px solid #222;
  transition: all 0s ease;
}
.header_ex .header .main_menu .item:hover .item__name::after {
  content: "";
  width: 120%;
  left: -5px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 1px solid #222;
  transition: all 0.3s ease;
}
.header_ex .header .main_menu .item:hover .item__contents {
  display: block;
}
.header_ex .header .gnb {
  float: right;
  margin-right: 20px;
  margin-top: 32px;
}
.header_ex .header .gnb .gi {
  float: left;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
.header_ex .header .gnb .gi img {
  width: 90%;
  filter: invert(100%);
}

/* search */
/* search */
.search_ex {
  width: 100%;
  background-color: #FCF9EE;
  position: absolute;
  top: -400px;
  z-index: 100;
  transition: 0.5s;
  /* //search */
}
.search_ex .search {
  width: 1300px;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  /* logo2 */
  /* searching */
  /* item */
}
.search_ex .search .logo2 {
  margin-left: 45px;
  font-family: "Bookk Myungjo";
  color: #222222;
  margin-top: 10px;
  width: 1300px;
  float: left;
}
.search_ex .search .logo2 :first-child {
  font-size: 30px;
  float: left;
}
.search_ex .search .logo2 :last-child {
  font-size: 12px;
  text-align: center;
}
.search_ex .search .searching {
  position: relative;
  width: 800px;
  margin-bottom: 40px;
  margin: 100px auto 50px;
}
.search_ex .search .searching input {
  font-size: 25px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9c9c9c;
  position: relative;
  background: none;
  z-index: 101;
}
.search_ex .search .searching input:focus {
  outline: none;
}
.search_ex .search .searching span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 2px;
  border-radius: 1px;
  transition: 0.7s;
}
.search_ex .search .searching label {
  position: absolute;
  color: #707070;
  font-size: 20px;
  left: 10px;
  bottom: 5px;
  transition: all 0.3s;
}
.search_ex .search .searching i {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #707070;
  cursor: pointer;
}
.search_ex .search .searching input:focus ~ label,
.search_ex .search .searching input:valid ~ label {
  font-size: 15px;
  background-origin: 20px;
  color: #707070;
  bottom: 40px;
}
.search_ex .search .searching input:focus ~ span,
.search_ex .search .searching input:valid ~ span {
  width: 100%;
  background-color: #fff;
  z-index: 102;
}
.search_ex .search .item {
  width: 800px;
  margin: 80px auto 80px;
}
.search_ex .search .item ul {
  display: flex;
  text-align: center;
  line-height: 10px;
}
.search_ex .search .item ul li {
  width: 130px;
  height: 10px;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  margin: 0 10px 0;
  background-color: #fff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.search_ex .search .item ul li:hover {
  background-color: #222;
  color: #222;
  font-weight: bold;
}
.search_ex .search .exit {
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 25px;
  cursor: pointer;
}

.wrap{
  width: 1300px;
  margin: 200px auto 200px;
}
.path{
  font-family: "Bookk Myungjo";
  font-size: 14px;
  margin-left: 50px;
}
.title{
  width: 860px;
  margin: 60px auto 50px;
  border-bottom: 1px solid #707070;
  text-align: center;
  color: #707070;
}
.title p{
  font-size: 33px;
  margin-bottom: 40px;
}
.welcome{
  width: 650px;
  margin: 0 auto;
}
.welcome p{
  font-size: 30px;
  color: #707070;
  /* line-height: 50px; */
}
/* 로그인 폼 전!! */


.login{
  width: 650px;
  margin: 40px auto 20px;
  height: 120px;
}
.login li{
  float: left;
}
.login .lgin_left{
  width: 400px;
}
.login .lgin_left div{
  height: 60px;
  margin-top: 10px;
}
.login input{
  position: relative;
  background: none;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid #707070 1px;
  padding-bottom: 5px;
  z-index: 10;
  margin-top: 5%;
  font-size: 20px;
}
.login input:focus {
  outline: none;
}
.login .lgin_left label{
    position: relative;
    z-index: -10;
    color: rgb(99, 98, 98);
    bottom: 35px;
    transition: all .2s;
    left: 10px;
    font-size: 20px;
}
.login .lgin_left i {
  position: relative;
  float: right;
  bottom: 35px;
  font-size: 20px;
  right: 10px;
  color: #b7b7b7;
}
.login input:focus~label,
.login input:valid~.searching label {
  font-size: 15px;
  bottom: 50px;
  color: rgb(180, 180, 180);
  font-weight: bold;
}


/* 로그인 왼쪽 끝 */

.login .lgin_right{
  width: 250px;
  height: 120px;
}
.login .lgin_right .box{
  width: 200px;
  height: 120px;
  margin-left: 50px;
  background-color: #222;
  color: #FCF9EE;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}
.login .lgin_right .box p{
  font-size: 15px;
}
.login .lgin_right .box:hover p{
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}
/* 로그인 오른쪽 끝! */

.popup{
  border: 1px solid #dcdcdc;
  position: fixed;
  width: 500px;
  height: 450px;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  z-index: 99;
  display: none;
  background: #fff}
.popup .close{
  background: none;
  border: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;}
.pop_up .popup_tit{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;
}
.pop_up .pop{
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.pop_bar{
width: 100%;
height: 1px;
background-color: #222;
margin-top: 50px;
}
#num{
  width: 100px;
  height: 40px;
  margin-right: 10px;
}
#user_num{
  width: 360px;
  height: 40px;
  outline: none;
  padding-left: 20px;
}
#shipnum{
  width: calc(100% - 25px);
  height: 40px;
  padding-left: 20px;
  outline: none;
}
.ship_search{
  width: 250px;
  height: 50px;
  text-align: center;
  background-color: #222;
  line-height: 50px;
  margin-top: 30px;
  margin-left: calc(50% - 125px);
  color: #fff;
  cursor: pointer;
}
.ship_search:hover{
  box-shadow: 5px 4px 5px 1px #b9b8b8;
}

		
/* 쉐도우 효과*/
.shadow{
  position: fixed;
  left: 0;top: 0;
  background: rgba(0, 0, 0, 0.52);
  width: 100%;
  height: 100vh;
  display: none
}

.log_option{
  width: 650px;
  height: 90px;
  margin: 30px auto 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #c4c2c2;
}
.log_option .log_option_left{
  float: left;
  width: 0;
  width: 400px;
}
.log_option .log_option_left .check{
  width: 25px;
  background-color: #E6E6E6;
  border-radius:12.5px;
  text-align: center;
  float: left;
}
.log_option .log_option_left .check img{
  width: 20px;
  height: 15px;
  position: relative;
  top: 4px;
  filter: invert(100%);
}
.log_option .log_option_left span{
  margin-left: 10px;
  float: left;
  font-size: 14px;
  cursor: pointer;
}
.log_option .log_option_left .id_bar{
  float: left;
  height: 12px;
  width: 1px;
  background-color: #707070;
  margin: 4px 12px;
}
/* .log_option .log_option_left p{
  font-size: 14px;
} */

.log_option .log_option_right{
  float: right;
  width: 170px;
  
}
.log_option .log_option_right span{
  float: left;
  font-size: 14px;
  cursor: pointer;
}
.log_option .log_option_right .id_bar{
  float: left;
  height: 12px;
  width: 1px;
  background-color: #707070;
  margin: 4px 12px;
}

/* log_option */

.join_bar{
  width: 570px;
  margin: 20px auto 0;
  height: 70px;
  color: #FCF9EE;
  background-color: #222;
  border-radius: 70px;
  line-height: 70px;
  padding: 0 40px;
}
.join_bar:hover{
  box-shadow: 5px 4px 5px 1px #d3d0d0;
}
.join_bar .join_left{
  float: left;
}
.join_bar .join_right{
  float: right;
  font-size: 21px;
  /* font-weight: bold; */
}
/* join_bar */

.login_info{
  position: relative;
  width: 200px;
  animation: ani 1s infinite alternate;
}
.login_info img{
  position: absolute;
  width: 180px;
  top: 200px;
}
.login_info div{
  position: absolute;
  width: 100px;
  margin-top: 250px;
  left: 38px;
  background-color: #fff;
  opacity: 0.8;
  text-align: center;
}
.login_info div p{
  font-weight: bold;
  font-size: 22px;
}

@keyframes ani{
  0%{transform:translate(0,0);}
  100%{transform:translate(0,20px);}
}  

.idsaveimg{
  filter: invert(100%);
}


/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #444;
  margin: 0 auto;
  padding: 25px 0;
  position: relative;
}
footer .footer_in {
  width: 1300px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid #FCF9EE;
  box-sizing: border-box;
  padding-left: 115px;
  padding-top: 35px;
  /* footer_left */
  /* footer_right */
}
footer .footer_in .footer_left {
  width: 850px;
  height: 300px;
  float: left;
  font-size: 12px;
  color: #FCF9EE;
}
footer .footer_in .footer_left ul {
  width: 785px;
  height: 50px;
  margin-bottom: 5px;
}
footer .footer_in .footer_left p {
  margin-top: 40px;
}
footer .footer_in .footer_left p span {
  margin-left: 30px;
  border-bottom: 1px solid #FCF9EE;
}
footer .footer_in .footer_left span {
  margin-right: 30px;
  line-height: 25px;
}
footer .footer_in .footer_left .info_search {
  color: white;
  position: absolute;
  height: 20px;
  font-size: 12px;
  border-bottom: 1px solid #FCF9EE;
}
footer .footer_in .footer_right {
  width: 320px;
  height: 300px;
  float: left;
  position: relative;
  /* footer_logo */
}
footer .footer_in .footer_right .footer_logo {
  width: 130px;
  height: 60px;
  top: 40px;
  border: 1px solid #FCF9EE;
  box-sizing: border-box;
  text-align: center;
}
footer .footer_in .footer_right .footer_logo li {
  margin: 0;
  width: 130px;
}
footer .footer_in .footer_right .footer_logo li p {
  font-family: "Bookk Myungjo";
}
footer .footer_in .footer_right .footer_logo li p:first-child {
  text-align: center;
  font-size: 13px;
}
footer .footer_in .footer_right .footer_logo li:first-child {
  height: 40px;
  border-bottom: 1px solid #FCF9EE;
  box-sizing: border-box;
}
footer .footer_in .footer_right .footer_logo li:first-child p {
  color: #FCF9EE;
}
footer .footer_in .footer_right .footer_logo li:first-child p:first-child {
  font-size: 13px;
  margin-top: 5px;
}
footer .footer_in .footer_right .footer_logo li:first-child p:last-child {
  font-size: 11px;
}
footer .footer_in .footer_right .footer_logo li:last-child {
  height: 20px;
}
footer .footer_in .footer_right .footer_logo li:last-child p {
  font-size: 9px;
  font-family: "KOTRA_GOTHIC";
  color: #FCF9EE;
  margin-top: 2px;
}
footer .footer_in .footer_right span {
  font-size: 10px;
  color: #FCF9EE;
  position: absolute;
  left: 37px;
  top: 65px;
}
footer .footer_in .footer_right .sns_logo {
  width: 140px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 150px;
  left: -8px;
}
footer .footer_in .footer_right .sns_logo img {
  width: 40px;
  height: 40px;
}

/* 드롭다운 메뉴 */
.footer_in ul {
  width: 590px;
}
.footer_in ul li {
  float: left;
  margin-right: 35px;
}
.footer_in ul li span {
  color: white;
  padding: 6px 0;
  font-size: 12px;
  position: relative;
  display: block;
  border-bottom: 1px solid #FCF9EE;
  height: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn {
  color: white;
  padding: 10px;
  font-size: 12px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  border: 1px solid #FCF9EE;
  box-sizing: border-box;
  background-color: #444;
  top: 30px;
}

.dropdown-content a {
  color: #FCF9EE;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* //footer */
.top_btn {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
  opacity: 0;
}
.top_btn img {
  width: 100%;
  transition: 0.3s;
  filter: invert(100%);
}
.top_btn img:hover {
  filter: invert(0%);
}









